header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 3px #800009 dashed;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.header-left-part {
  display: flex;
  gap: 20px;
}

.icon {
  width: 100px;
  height: auto;
}

.site-name {
  align-self: center;
  color: rgba(0, 128, 26, 0.58);
  font-size: 26px;
}

.header-right-part {
  display: flex;
  gap: 130px;
  align-items: center;
}

.header-right-part a {
  text-decoration: none;
}
