.intro-section {
  text-align: center;
  margin-bottom: 80px;
  min-height: 520px;
  box-shadow: 5px 5px 5px darkcyan;
}

.intro-text {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 50px;
  color: white;
  height: 200px;
  line-height: 500px;
}

.intro-text span {
  display: inline-block;
  vertical-align: middle;
  line-height: 65px;
}
