.reviews-title {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  color: cornflowerblue;
  font-size: 45px;
  margin-bottom: 50px;
  text-align: center;
}

.reviews-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  gap: 20px;
  margin-bottom: 70px;
}

.one-review {
  background-color: rgba(218,254,255, 0.20);
  padding: 20px;
  border-radius: 25px;
  border: 1px grey solid;
  box-shadow: 3px 3px 3px purple;
}

.reviewer-photo {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.review-author {
  margin-bottom: 15px;
}

.reviewer-text {
  max-width: 200px;
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  line-height: 25px;
}
